@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.choose {
  display: grid;
  gap: s.space(6);
}

.choose__item {
  display: grid;
  grid-template-columns: 56px 1fr;
  gap: s.space(6);
}

.coose__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
}

.contet__link {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.library__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 54px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    'list__1 list__2'
    'list__3 list__4';
}

.list__1 {
  grid-area: list__1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__2 {
  grid-area: list__2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__3 {
  grid-area: list__3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__4 {
  grid-area: list__4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  width: 345px;
  height: 345px;
}

.list__title {
  font-size: 20px;
  color: white;
}

.list__amount {
  font-size: 16px;
  color: s.color(gray);
}
