@use '../../lib/service.scss' as s;

.return {
  &__block {
    display: flex;
    flex-direction: column;

    width: 700px;
    height: 60vh;
    justify-content: center;
    margin: 0 auto;

    box-sizing: border-box;

    padding: s.space(4);
    gap: s.space(1);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: s.space(3);
  }

  &__button {
    text-decoration: none;
    color: white;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 3px 20px -4px #cccccc;
  }
}

main {
  .return__text {
    display: flex;
    justify-content: center;
  }
  .return__title {
    font-size: 18px;
    font-weight: 400;
  }

  .return__description {
    font-size: 18px;
    font-weight: 400;
  }
}

.button__wrap {
  display: flex;
}

.button-prymary {
  padding: 15px 50px;
  border-radius: 3px;
  background-color: rgb(0, 98, 255);
  color: white;
  cursor: pointer;
}
