@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as
  purchseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;

.main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  padding: s.space(10);
  font-family: 'Roboto', sans-serif;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: s.space(4);
  align-items: flex-start;
}

.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: s.space(5);
}

.product-info__image {
  max-height: 300px;
  width: 100%;
}

.product-info__title {
  font-size: 20px;
  font-weight: bold;
}

.product-info__subtitle {
  font-size: 16px;
  color: s.color(gray);
}

.product-info__category {
  font-size: 14px;
  border-radius: 30px;
  padding: 7px 15px;
}

.product-info__category--1 {
  border: 1px solid s.color(blue);
  color: s.color(blue);
}

.product-info__category--2 {
  border: 1px solid s.color(green);
  color: s.color(green);
}

// .product-info__button {
//   background-color: s.color(blue);
//   color: rgb(255, 255, 255);
//   border: none;
//   border-radius: 5px;
//   padding: 10px 20px;
//   font-size: 16px;
//   cursor: pointer;
//   transition: opacity 0.3s ease;

//   text-decoration: none;

//   &:hover {
//     opacity: 0.7;
//   }
// }
