<main class='main'>

    {{> heading title="Зміна даниих"}}

    <div>ID: {{id}}</div>
    {{#with data}}

    <form method="POST" action="/purchase-submit?id={{id}}" class='form-card'>

        <div class="cart__block">
            {{> field label='Прізвище' name='lastname'}}
            {{> field label="Ім'я" name='firstname'}}
        </div>
        <div class="cart__block">
            {{> field label='Мобільний телефон' name='phone'}}
            {{> field label="Електронна пошта" name='email'}}
        </div>

        {{> button text="Оформити замовлення"}}

    </form>

    {{/with}}


</main>