<div class="product__card">
    <div class="product__title">Стильна сукня</div>
    <div class="product__dedscription">Елегантна сукня з натуральної тканини для особливвих ввипадків</div>
    <div class="product__id">ID: 1357924680</div>
    <div class="price__wrap">
        <div class="product__price">1500$</div>
        <button class="product__button">Редагувати</button>
    </div>
</div>