@use '../../lib/service.scss' as s;

.product-card {
  border-radius: 10px;
  border: 1px solid s.color(border);
  padding: s.space(6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: s.space(4);
  min-width: 350px;
  max-width: 480px;
  width: 100%;
}

.product-card__image {
  max-height: 300px;
  width: 100%;
}

.product-card__title {
  font-size: 20px;
  font-weight: bold;
}

.product-card__subtitle {
  font-size: 16px;
  color: s.color(gray);
}

.product-card__category {
  font-size: 14px;
  border-radius: 30px;
  padding: 7px 15px;
}

.product-card__category--1 {
  border: 1px solid s.color(blue);
  color: s.color(blue);
}

.product-card__category--2 {
  border: 1px solid s.color(green);
  color: s.color(green);
}

// .product-card__button {
//   background-color: s.color(blue);
//   color: rgb(255, 255, 255);
//   border: none;
//   border-radius: 5px;
//   padding: 10px 20px;
//   font-size: 16px;
//   cursor: pointer;
//   transition: opacity 0.3s ease;

//   text-decoration: none;

//   &:hover {
//     opacity: 0.7;
//   }
// }
